### Download and unzip dataset

In [9]:
!kaggle competitions download -c home-data-for-ml-course -p .

home-data-for-ml-course.zip: Skipping, found more recently modified local copy (use --force to force download)

In [10]:
import numpy as np
import pandas as pd
import zipfile

In [11]:
with zipfile.ZipFile("home-data-for-ml-course.zip", "r") as zip_ref:
    zip_ref.extractall(".")

In [12]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [13]:
train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [14]:
test.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

## Preprocessing:
- Drop column Id.
- fillna all numeric column to `0`.
- fillna all object column to `None`.
- Apply log to all numeric columns so that it would not skew the result.

In [15]:
train.drop(columns=['Id'],inplace=True)
test.drop(columns=['Id'],inplace=True)

#fillna with 0 and None
train[train.select_dtypes(include=['number']).columns] = train.select_dtypes(include=['number']).fillna(0)
test[test.select_dtypes(include=['number']).columns] = test.select_dtypes(include=['number']).fillna(0)

train.select_dtypes(include=['object']).fillna('None', inplace=True)
test.select_dtypes(include=['object']).fillna('None', inplace=True)

#apply log to numeric columns
numeric_cols = train.select_dtypes(include=['number']).columns
train[numeric_cols] = np.log1p(train[numeric_cols])
numeric_cols = test.select_dtypes(include=['number']).columns
test[numeric_cols] = np.log1p(test[numeric_cols])

print(train.shape) 
print(test.shape)

(1460, 80)
(1459, 79)

- For categorical columns, apply one-hot encoding

In [16]:
#one hot encoding for categorical columns
train = pd.get_dummies(train).astype(float)
test = pd.get_dummies(test).astype(float)

In [17]:
train.head()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,4.110874,4.189655,9.042040,2.079442,1.791759,7.602900,7.602900,5.283204,6.561031,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1,3.044522,4.394449,9.169623,1.945910,2.197225,7.589336,7.589336,0.000000,6.886532,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,4.110874,4.234107,9.328212,2.079442,1.791759,7.601902,7.602401,5.093750,6.188264,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,4.262680,4.110874,9.164401,2.079442,1.791759,7.557995,7.586296,0.000000,5.379897,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
4,4.110874,4.442651,9.565284,2.197225,1.791759,7.601402,7.601402,5.860786,6.486161,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0

In [18]:
test.head()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,3.044522,4.394449,9.360741,1.791759,1.945910,7.581720,7.581720,0.000000,6.150603,4.976734,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1,3.044522,4.406719,9.565775,1.945910,1.945910,7.580189,7.580189,4.691348,6.828712,0.000000,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,4.110874,4.317488,9.534668,1.791759,1.791759,7.599902,7.600402,0.000000,6.674561,0.000000,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,4.110874,4.369448,9.208238,1.945910,1.945910,7.600402,7.600402,3.044522,6.401917,0.000000,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,4.795791,3.784190,8.518392,2.197225,1.791759,7.597396,7.597396,0.000000,5.575949,0.000000,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0

- Split the training dataset to `X_train` and `y_train`
- align `X_train` and `X-test` for correct dimension

In [19]:

X_train = train.drop(columns=['SalePrice'])
y_train = train['SalePrice']  

X_train, X_test = X_train.align(test, join='left', axis=1, fill_value=0)

X_train = X_train.values
y_train = y_train.values
X_test = X_test.values

In [20]:
print(X_train.shape)  
print(X_test.shape)

(1460, 287)
(1459, 287)

- Define `L2reg` function for closed form solution.

In [21]:
def L2reg(X,y, lambda_reg=1.0):
    X_b = np.c_[np.ones((X.shape[0], 1)), X]  # Add bias term
    n_features = X_b.shape[1]
    
    # Identity matrix for regularization (excluding bias term)
    I = np.eye(n_features)
    I[0, 0] = 0  # Do not regularize the bias term

    theta = np.linalg.inv(X_b.T.dot(X_b) + lambda_reg * I).dot(X_b.T).dot(y)
    return theta

- Compute `theta` then use it to predict the `test` dataset.

In [22]:
theta=L2reg(X_train,y_train)
print(theta)
X_test_b = np.c_[np.ones((X_test.shape[0], 1)), X_test]
y_pred = X_test_b.dot(theta)
y_pred=np.exp(y_pred)

[ 5.52629872e+00 -2.55410344e-02 -2.75464963e-03  7.97157096e-02
  2.45430898e-01  2.30997001e-01  7.24669371e-02  8.35010508e-02
 -1.00313838e-03  1.07394367e-02 -6.23474500e-03 -5.56715733e-03
  5.60266900e-02  3.58561163e-02  1.57574968e-03 -7.55549288e-03
  3.69283931e-01  3.46783434e-02  7.95224273e-03  7.00266546e-02
  4.24680913e-02 -6.29260584e-03 -1.07196052e-01  4.28761268e-02
  2.42142441e-02 -1.44317175e-02  1.04464657e-01  1.78086256e-02
  4.12002480e-03  1.95930455e-03  8.32172332e-04  4.92516249e-03
  8.87905997e-03  1.49154179e-02 -4.98781256e-03  2.81330453e-03
 -2.65686568e-03 -2.94269257e-01  9.49750469e-02  8.14344546e-02
  7.06046842e-02  4.72550716e-02 -4.59303379e-02  4.59303379e-02
 -9.70351428e-04  3.81879675e-02 -2.48914419e-04  1.71413453e-02
 -2.79198014e-02  1.10273706e-02 -3.20886294e-02  3.00942836e-02
 -1.26368445e-02  1.46311902e-02  8.49150844e-02 -8.49150843e-02
  2.41116682e-02  4.63422104e-02 -2.60183460e-02 -5.44847325e-02
  1.00492000e-02  7.66759888e-03  3.33649814e-02 -4.10325802e-02
  3.05332048e-02 -5.96061604e-03 -1.04204711e-03 -8.15170290e-03
  2.19787847e-02 -3.38431148e-03  8.63738469e-02 -1.03440960e-01
 -1.51695694e-02 -7.01516221e-02 -1.09512531e-01 -5.47528767e-02
 -4.83771605e-02  2.20711923e-02 -5.46463260e-02  1.10299977e-01
  1.05573779e-01 -7.40372514e-02 -1.32761976e-02 -3.82820743e-02
 -5.90235423e-03  5.32526515e-02  1.50210208e-01  3.60138748e-03
  2.21925693e-02 -3.85328234e-02 -1.36634575e-02  4.68935802e-02
  3.14056113e-03  2.73329135e-02 -7.20035408e-02  1.50078862e-02
 -1.73752804e-02  4.92001612e-02  1.14215193e-02  8.85419150e-02
  6.84473265e-02  1.06174073e-01 -3.18599768e-01 -3.78986359e-02
 -5.85755634e-03  8.77711263e-02  4.26838493e-03  3.67838250e-03
 -5.20471851e-03 -1.07283378e-02  7.98628871e-03 -2.12102144e-02
  3.21879929e-02 -5.34057579e-03 -2.88326369e-02  1.09165154e-02
 -2.95060479e-02  2.93833164e-02  1.24016502e-02  3.10296753e-02
 -2.81035216e-02 -4.25242236e-02 -2.12839355e-02  7.77735952e-03
  5.31046458e-02 -5.53000716e-01  8.85711680e-02  1.00855187e-01
  3.23551314e-02  4.49757705e-02  1.46931377e-03  7.35959191e-02
  2.11178227e-01  3.92670713e-02 -1.09447784e-02 -8.58331054e-02
  8.10835527e-02 -5.26830657e-02 -6.02549303e-03  9.20682213e-04
 -1.27768701e-02  2.80149303e-02  1.39664872e-02  2.94666410e-03
  1.48336120e-02  4.37997181e-03 -3.44628200e-02  1.73131611e-02
 -3.37877237e-02  3.23518467e-02 -1.06279351e-02 -2.23090185e-02
 -5.26830657e-02  4.80249534e-02  7.55329794e-03  3.28045427e-02
  4.53944282e-03 -2.76915474e-02  3.37777836e-03 -3.51440888e-02
 -1.92445994e-02  3.66443157e-02  4.00061289e-02 -3.81432784e-03
 -2.34185070e-02  8.19200897e-03  2.19554779e-02 -1.68848512e-03
  4.36071876e-02 -1.48157034e-02 -2.71029989e-02  9.09994634e-02
 -4.44592037e-02 -2.87543498e-02 -4.43200491e-03 -1.33539050e-02
 -3.57158171e-02  6.80523106e-03  1.84109674e-02  2.17770185e-02
  5.33235736e-02 -6.46009735e-02  4.32070303e-03 -6.13418127e-02
 -5.30279431e-02 -6.79238210e-02 -8.74668065e-02 -6.14822330e-02
  3.69428222e-02 -6.59666563e-02 -2.58188367e-02  1.61884411e-02
 -2.91288663e-02 -4.30024677e-02 -2.28591543e-02 -3.39622490e-02
 -1.16309086e-02 -6.27762997e-02 -4.10792769e-02 -5.66498512e-03
  6.65028139e-03 -6.75821455e-02  1.81193813e-02 -4.48017836e-02
 -4.39881697e-02 -6.61485293e-02 -4.73555627e-03  1.34805501e-02
  9.52587738e-02 -1.09375227e-01 -2.47546811e-02  3.01261406e-02
  3.10994237e-02  5.24072884e-03  3.05013123e-03 -3.19869574e-02
 -7.40332638e-03 -2.96998101e-02  2.96998102e-02 -4.28029975e-03
  8.36168977e-03 -4.23447114e-04 -3.92298838e-02 -1.32718982e-02
  6.64658048e-02 -2.80533171e-02 -1.23026046e-02 -2.61098829e-02
  4.97701221e-02 -1.42330761e-01  4.16993893e-02  2.59952199e-02
 -6.10885853e-03 -7.01294708e-02  1.01104359e-01  1.64448166e-02
 -1.01652498e-02  5.60952225e-03  1.91247467e-02  6.12906458e-03
 -5.33745896e-02  1.70759142e-02  9.86955293e-03  2.23229045e-02
 -2.04545362e-02  1.99687971e-02  5.34742612e-03 -2.04338390e-03
 -7.89599916e-03  1.29803399e-01 -6.83111848e-02  1.30654722e-02
 -4.15173227e-02 -3.76323203e-02 -5.17504770e-02 -2.21829196e-02
  2.78434185e-02  1.97899769e-02  2.17080443e-02 -4.05762044e-03
 -1.46309467e-02  1.86885671e-02  1.21881644e-01 -2.42933649e-02
 -1.21339756e-01  1.49667449e-03 -2.87946460e-02  7.55658951e-04
 -2.14440969e-02  3.61015832e-02 -5.94477765e-02  1.91629475e-02
 -9.11669828e-03 -5.74619397e-02  1.54644039e-02  3.74914950e-02
  7.33613115e-02 -5.15035418e-02 -3.95030955e-02  4.79558719e-02
  3.66767258e-02 -6.24812312e-02 -4.39226788e-02  4.77638340e-02
  3.75360010e-02 -2.86598316e-02  2.66794968e-02 -3.93968214e-02]

- Write to csv to submit to kaggle.

In [ ]:
submission = pd.DataFrame({'Id': test.index + 1461, 'SalePrice': y_pred})
submission.to_csv('submission.csv', index=False)

:

### Screenshot here: https://github.com/phuongwhuynh/NLP_Lab/blob/main/Lab67/hw1/sceenshot_hw1.png